@import './variables.scss';

body {
  background: var(--primary-color);
  color: var(--text-color);
}

// typography
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color);
}

.bg-primary {
  background: var(--primary-color);
}

.bg-danger {
  background: var(--danger-color);
}

.bg-success {
  background: var(--success-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-success {
  color: var(--success-color);
}

// card
.card {
  background: var(--white);
  border-radius: 10px;
  padding: 1rem;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.skeleton {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
  width: 100%;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 5s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
