:root {
  --text-color: #0c092a;
  --border-radius: 6px;
  --primary-color: #6a5ae0;
  --secondary-color: #9087e5;
  --accent-color: #c4d0fb;
  --danger-color: #fa3939;
  --success-color: #1f8435;
  --white: #fff;
}
